@charset "utf-8";

html {
	font-family: "Roboto", sans-serif;
}

.strip {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}
.strip > * {
	flex: 0 0 auto;
}

.blacknote {
	width: var(--black-width);
	height: var(--black-height);
	box-sizing: border-box;
	background: #AAA;
}

.whitenote > * {
	/* outline: 1px dashed silver; */
}
.whitenote {
	width: var(--white-width);
	height: var(--white-height);
	box-sizing: border-box;
	display: grid;
	grid-template:
		"flat  solfege sharp " 1fr
		"staff staff   staff " 3fr
		"code  letter  octave" 1fr
		/ 1fr 2fr 1fr;
	border: 0.125mm #AAA solid;
	border-top: 0;
	background: linear-gradient(
		var(--boomwhacker) 0.5em,
		white 0.5em
	) no-repeat top center;
	padding: 0.5em 0 0 0;
}
.whitenote .flat {
	grid-area: flat;
}
.whitenote .sharp {
	grid-area: sharp;
}
.whitenote .staff {
	grid-area: staff;
	position: relative;
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	*/
}
.whitenote .staff > svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	width: 100%;
}
.whitenote .code {
	grid-area: code;
	color: #444;
	font-family: monospace;
	font-size: 0.88em;
}
.whitenote .solfege {
	grid-area: solfege;
}
.whitenote .letter {
	grid-area: letter;
}
.whitenote .octave {
	grid-area: octave;
}
.whitenote .name {
	text-align: center;
	font-weight: bold;
}

.whitenote .accidental {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.whitenote .flat {
}
.whitenote .sharp {
}
.whitenote .accidental > img {
	height: 1em;
}

.whitenote.C { --boomwhacker: #E31A47; }
.whitenote.D { --boomwhacker: #F89C1C; }
.whitenote.E { --boomwhacker: #FFF229; }
.whitenote.F { --boomwhacker: #D4E05A; }
.whitenote.G { --boomwhacker: #009C95; }
.whitenote.A { --boomwhacker: #5D4FA1; }
.whitenote.B { --boomwhacker: #CE3895; }

@media print {
	form {
		display: none;
	}
}
