@charset "utf-8";

html {
	font-family: "Roboto", sans-serif;
}

.strip {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	--border-width: 0.125mm;
	--border-style: var(--border-width) #AAA solid;
}

.folding-margin {
	height: var(--black-height);
	box-sizing: border-box;
	border: var(--border-style);
	border-bottom-style: dashed;
}

.keys-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}
.keys-container > * {
	flex: 0 0 auto;
}

.blacknote {
	width: var(--black-width);
	height: var(--black-height);
	box-sizing: border-box;
	background: #CCC;
	display: flex;
	flex-direction: column;
}

.whitenote > * {
	/* outline: 1px dashed silver; */
}
.whitenote {
	width: var(--white-width);
	height: var(--white-height);
	box-sizing: border-box;
	display: grid;
	grid-template:
		"freq freq freq" 1fr
		"color color color" 0.5fr
		"flat  solfege sharp " 1fr
		"staff staff   staff " 3fr
		"code  letter  octave" 1fr
		/ 1fr 2fr 1fr;
	border: var(--border-style);
	border-top: 0;
	border-bottom-right-radius: 1.5mm;
	border-bottom-left-radius: 1.5mm;
}
.whitenote.C,
.whitenote.F {
	border-bottom-left-radius: 0;
}
.whitenote.B,
.whitenote.E {
	border-bottom-right-radius: 0;
}
.whitenote + .whitenote {
	/* Note: this means these blocks have slightly more space for their content. */
	border-left-width: 0;
}
.whitenote .color {
	grid-area: color;
	background-color: var(--boomwhacker);
}
.whitenote .flat {
	grid-area: flat;
	visibility: hidden;
}
.whitenote.has_flat .flat {
	grid-area: flat;
	visibility: visible;
}
.whitenote .sharp {
	grid-area: sharp;
	visibility: hidden;
}
.whitenote.has_sharp .sharp {
	grid-area: sharp;
	visibility: visible;
}
.whitenote .staff {
	grid-area: staff;
	position: relative;
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	*/
}
.whitenote .staff > svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	width: 100%;
}
.whitenote .frequency,
.blacknote .frequency {
	grid-area: freq;
	font-family: "Roboto Condensed", monospace;
	font-size: 0.75em;
	text-align: right;
}
.whitenote .frequency .unit,
.blacknote .frequency .unit {
	font-size: 0.5em;
}
.whitenote .code {
	grid-area: code;
	color: #444;
	font-family: "Roboto Condensed", monospace;
	font-size: 0.66em;
}
.whitenote .solfege {
	grid-area: solfege;
}
.whitenote .letter {
	grid-area: letter;
}
.whitenote .octave {
	grid-area: octave;
}
.whitenote .name {
	text-align: center;
	font-weight: bold;
}

.whitenote .accidental {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.whitenote .flat {
}
.whitenote .sharp {
}
.whitenote .accidental > img {
	height: 1em;
}

.whitenote.C { --boomwhacker: #E31A47; }
.whitenote.D { --boomwhacker: #F89C1C; }
.whitenote.E { --boomwhacker: #FFF229; }
.whitenote.F { --boomwhacker: #D4E05A; }
.whitenote.G { --boomwhacker: #009C95; }
.whitenote.A { --boomwhacker: #5D4FA1; }
.whitenote.B { --boomwhacker: #CE3895; }

@media print {
	form {
		display: none;
	}
}
