<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Piano stickers</title>
	<link rel="stylesheet" href="stickers.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
	<script src="stickers.js" defer></script>
</head>
<body>

	<div id="app">
		<form>
			<fieldset>
				<legend>Layout settings</legend>
				<div>
					<span>White key width (mm):</span>
					<input type="number" name="width_white" v-model="dimensions.width_white" min="1" max="99" step="0.1">
				</div>
				<div>
					<span>Black key width (mm):</span>
					<input type="number" name="width_black" v-model="dimensions.width_black" min="1" max="99" step="0.1">
				</div>
				<div>
					<span>White key height (mm):</span>
					<input type="number" name="height_white" v-model="dimensions.height_white" min="1" max="99" step="0.1">
				</div>
				<div>
					<span>Black key height (mm):</span>
					<input type="number" name="height_black" v-model="dimensions.height_black" min="1" max="99" step="0.1">
				</div>
				<div>
					<span>Note range (MIDI values):</span>
					<input type="number" name="min_code" v-model="min_note_code" min="0" max="127" step="1">
					<input type="number" name="max_code" v-model="max_note_code" min="0" max="127" step="1">
					<input type="button" value="25 keys" @click="min_note_code = 48; max_note_code = 72">
					<input type="button" value="49 keys" @click="min_note_code = 36; max_note_code = 84">
					<input type="button" value="61 keys" @click="min_note_code = 36; max_note_code = 96">
					<input type="button" value="76 keys" @click="min_note_code = 28; max_note_code = 103">
					<input type="button" value="88 keys" @click="min_note_code = 21; max_note_code = 108">
				</div>
			</fieldset>
			<fieldset>
				<legend>Visual tweaks (that you don't need to change)</legend>
				<div>
					<span>Clefs:</span>
					<label><input type="radio" name="clefs_style" value="visible" v-model="clefs_style"> Visible</label>
					<label><input type="radio" name="clefs_style" value="hidden" v-model="clefs_style"> Hidden</label>
					<label><input type="radio" name="clefs_style" value="hidden-double" v-model="clefs_style"> Hidden with double middle C</label>
				</div>
				<div>
					<span>Clef for middle C:</span>
					<label><input type="radio" name="middle_c_clef" value="G" v-model="note_conf.middle_c_clef"> 𝄞</label>
					<label><input type="radio" name="middle_c_clef" value="C" v-model="note_conf.middle_c_clef"> 𝄡</label>
					<label><input type="radio" name="middle_c_clef" value="F" v-model="note_conf.middle_c_clef"> 𝄢</label>
				</div>
				<div>
					<span>Octave number for middle C:</span>
					<label><input type="radio" name="middle_c_octave" :value="3" v-model="note_conf.middle_c_octave"> 3</label>
					<label><input type="radio" name="middle_c_octave" :value="4" v-model="note_conf.middle_c_octave"> 4</label>
				</div>
				<div>
					<span>Solfège note names:</span>
					<label><input type="radio" name="solfege_do" value="Do"  v-model="note_conf.solfege.do"> Do</label>
					<label><input type="radio" name="solfege_do" value="Doh" v-model="note_conf.solfege.do"> Doh</label>
					;
					<label><input type="radio" name="solfege_sol" value="Sol" v-model="note_conf.solfege.sol"> Sol</label>
					<label><input type="radio" name="solfege_sol" value="So"  v-model="note_conf.solfege.sol"> So</label>
					;
					<label><input type="radio" name="solfege_si" value="Si" v-model="note_conf.solfege.si"> Si</label>
					<label><input type="radio" name="solfege_si" value="Ti" v-model="note_conf.solfege.si"> Ti</label>
				</div>
			</fieldset>
		</form>

		<main :style="inline_styles">
			<article class="strip">

				<template v-for="note in note_iterator()" :key="note.code">

					<div class="whitenote" :class="[ note.letter ]" v-if="note.is_major">
						<span class="accidental flat"><img src="Flat.svg" alt="flat symbol" v-if="note.left_is_flat"></span>
						<span class="accidental sharp"><img src="Sharp.svg" alt="sharp symbol" v-if="note.right_is_sharp"></span>

						<span class="name solfege">{{ note.solfege }}</span>
						<span class="name letter">{{ note.letter }}</span>
						<span class="octave">{{ note.octave }}</span>

						<span class="code">{{ note.code }}</span>

						<span class="staff">
							<template v-if="note.code === Note.middle_c_code">
								<img :src="note.staff_clef_img" :alt="`${note.staff_clef}-clef`" v-if="note.staff_note_img && clefs_style === 'visible'">
								<template v-if="clefs_style === 'hidden-double'">
									<img :src="Note.note_images[note.code]['F']" alt="Note in the staff, F-clef">
									<img :src="Note.note_images[note.code]['G']" alt="Note in the staff, G-clef">
								</template>
								<template v-else>
									<img :src="note.staff_note_img" alt="Note in the staff, `${note.staff_clef}-clef" v-if="note.staff_note_img">
								</template>
							</template>
							<template v-else>
								<img :src="note.staff_clef_img" :alt="`${note.staff_clef}-clef`" v-if="note.staff_note_img && clefs_style === 'visible'">
								<img :src="note.staff_note_img" alt="Note in the staff, `${note.staff_clef}-clef" v-if="note.staff_note_img">
							</template>
						</span>
					</div>

					<div class="blacknote" v-else>
					</div>
				</template>

			</article>
		</main>

	</div>

</body>
</html>
